/* MAIN */

/* poster */


.poster-content {
margin-top: 129px;

  display: flex;
  background-color: #eee4db;  

  height: 372px;
}

.poster-left {
  margin-left: 28px;
  margin-top: 19px;
}

.poster-block-buttons {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-left: 3px;
}

.poster-center {
  margin-left: 44px;
  margin-top: 89px;
}


.poster-note {
  background-color: #c29974;
}

.poster-btn {
  width: 31px;
  height: 3px;
  padding: 0;

  border: none;

  background-color: #d6cac2;

  margin-bottom: 11px;
}

.poster-btn-mark {
  background-color: #725f5b;
}

.poster-btn-active:hover {
  background-color: #725f5b;

  cursor: pointer;
}

/* .poster-img {
  background-image: url(img/poster.png);
  background-repeat: no-repeat;
  background-size: contain;

  width: 635px;
  height: 500 px;
} */

/* .poster-item {
  margin-top: 0px;
  margin-bottom: 11px;
} */

.poster-main-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
  line-height: 73px;

  color: rgba(30, 6, 6, 0.05);

  margin: 0;
}



.poster-title {
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  line-height: 110%;

  color: #1e0606;

  margin: 0;

  width: 307px;
}

.poster-italic {
  font-family: "Crimson Text", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;

  color: #1e0606;

  margin: 0;

  padding-top: 20px;
  padding-bottom: 20px;
}

.poster-btn-main {
  display: inline-block;
}

.poster-text {
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;

  color: #ffffff;

  margin: 0;

  padding: 11px;

  text-align: center;
}

.poster-img {
  position: absolute;

  /* top: 10px; */
  left: 850px;
  top: 146px;
}


/* products */

.products-list {
  display: flex;

  margin: 0;
  padding-inline-start: 0px;  
}

.products-nav {
  display: flex;
  align-items: center;

  margin-top: 33px;
}

.products-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 38px;
  line-height: 46px;

  color: #1e0606;

  margin: 0;

  padding-top: 90px;
  padding-bottom: 30px;
}

.product-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 26px;
  line-height: 31px;

  color: #ffffff;
}

.nav-to-products {
  padding-right: 6px;
}

.products-text {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;

  color: #1e0606;

  width: 580px;

  padding-left: 20px;

  margin: 0;
}

.delivery-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 38px;
  line-height: 46px;

  color: #1e0606;
}

.italic-delivery-weight {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 26px;
  line-height: 32px;

  color: #1e0606;
}

.italic-delivery {
  font-family: "Crimson Text", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 26px;
  line-height: 32px;

  color: #1e0606;
}

.delivery-text {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;

  color: #1e0606;
}

.about-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 38px;
  line-height: 46px;

  color: #1e0606;
}

.about-text {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;

  color: #1e0606;
}

.contacts-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 38px;
  line-height: 46px;

  color: #1e0606;
}

.contacts-text {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;

  color: #1e0606;
}

.partners-list {
  display: flex;
  justify-content: center;

  padding-inline-start: 0px;
}

.partners-img {
  margin-right: 127px;
}

.about-contacts {
  display: flex;
  justify-content: center;
}

.delivery-content {
  display: flex;
  justify-content: center;

  margin-top: 90px;
  /* flex-direction: column; */
}

.delivery-left {
  width: 480px;
  height: 559px;
}

.delivery-right {
  margin-left: 120px;
  
  display: block;
}